[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
flask-migrate = "*"
flask-restful = "*"
marshmallow = "*"
werkzeug = "*"
email-validator = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.13"
